*, ::after, ::before{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 95%);
    height: 1vh;
}

h1{
    font-family: 'Big Shoulders Display';
    font-size: 40px;
    text-transform: uppercase;
}

p{
    font-size: 15px;
    font-family: 'Lexend Deca';
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    height: 80%;
}

.block{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: hsla(0, 0%, 100%, 0.75);
}

.orange_block{
    background-color: hsl(31, 77%, 52%);;
    padding: 0px 50px 0 50px;
}

.softgreen_block{
    background-color: hsl(184, 100%, 22%);
    padding: 0px 50px 0 50px;
}

.green_block{
    background-color: hsl(179, 100%, 13%);
    padding: 0px 48px 0 47px;
}

button{
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    border-radius: 50px;
    height: 50px;
    width: 150px;
}

.orange_block button{
    color: hsl(31, 77%, 52%);;
}

.softgreen_block button{
    color: hsl(184, 100%, 22%);
}

.green_block button{
    color: hsl(179, 100%, 13%);
}